@import 'tailwindcss';
/* @import 'tailwindcss/preflight'; */
/* @tailwind base;
@tailwind components; */
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #0de050;
    --color-bg: #9ec5e2;
    --color-text: #000000;
  }

  .dark {
    --color-primary: #2acb2c;
    --color-bg: #05212f;
    --color-text: #ffffff;
  }

  body {
    @apply bg-[var(--color-bg)] text-[var(--color-text)];
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded font-semibold;
  }

  .btn-primary {
    @apply bg-[var(--color-primary)] text-white;
  }
}
